# This env variable is mandatory 
# Questa variabile è obbligatoria
TMDB_KEY= "486ef4fb91cae9536897597686433777E"
# Those env variable are not mandatory
# Queste variabili non sono obbligatoria
PROXY = ["PROXY1","PROXY2"]
FORWARDPROXY = "YOURFORWARDPROXY/"
